* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
p {
  line-height: 28px;
  font-size: 15px;
}
.clearfix {
  zoom: 1;
}
.clear {
  clear: both;
}
.header {
  width: 100%;
}
.header .nav {
  background: #1a1a1a;
  height: 58px;
  text-align: center;
  position: relative;
  z-index: 100;
}
.header .nav .title {
  display: block;
  position: absolute;
  top: 0;
  right: 10%;
  line-height: 55px;
}
.header .nav .title a {
  color: #fff;
  float: right;
  font-size: 15px;
}
.header .nav .menu {
  height: 58px;
}
.header .nav .menu li {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  line-height: 58px;
  margin: 0 11px;
}
.header .nav .menu li a {
  display: inline-block;
  font-size: 14px;
  line-height: 58px;
  color: #fff;
}
.header .nav .btn {
  display: none;
  position: absolute;
  right: 30px;
  top: 25px;
}
.header .nav .logo {
  display: block;
  z-index: 1000;
  position: absolute;
  height: 100px;
  width: 78px;
  border: 4px solid #272727;
  right: 4%;
  top: 0;
  text-align: center;
  background: #212121;
}
.banner {
  background: url(https://www.egret.com/img/products-banner.jpg);
  width: 100%;
  height: 500px;
}
.main {
  padding-left: 28px;
  padding-right: 28px;
}
.main h2 {
  padding: 112px 0 32px;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
}
.main p {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  font-size: 12px;
}
.main hr {
  background: url(https://www.egret.com/img/products-hori-line.png) no-repeat center;
  height: 34px;
  margin-top: 54px;
  border: none;
}
.main ul {
  width: 1260px;
  margin: auto;
}
.main ul li {
  margin-top: 100px;
}
.main ul li .left {
  width: 86px;
  text-align: center;
  padding: 0 30px 30px 79px;
  float: left;
}
.main ul li .left span {
  font-size: 14px;
}
.main ul li .right {
  padding: 30px;
  float: left;
  border-left: 1px solid #a2a1a1;
  margin-left: -1px;
  width: 375px;
  margin-bottom: 30px;
}
.main ul li .right p {
  min-height: 90px;
}
.main ul li .right .btnlsit .generalBtn {
  margin: 0 5px;
  border-radius: 5px;
  display: inline-block;
}
.main ul li .right .btnlsit .generalBtn a {
  border: 1px solid #00b7f9;
  width: 97px;
  height: 29px;
  border-radius: 5px;
  color: #000;
  font-size: 12px;
  text-align: center;
  line-height: 29px;
  cursor: pointer;
  display: block;
}
.line {
  margin: 0 0;
  position: absolute;
  width: 1px;
  border: none;
  left: 50px;
  background: #a2a1a1;
  top: 986px;
  height: 1739px;
  left: 958.5px;
}
@media screen and (win-width: 1174px) {
  .header .nav .menu {
    display: block;
  }
}
@media screen and (max-width: 1174px) {
  .header .nav .logo {
    display: none;
  }
}
@media screen and (max-width: 1174px) and (min-width: 320px) {
  .header .nav {
    position: fixed;
    width: 100%;
    height: 55px;
  }
  .header .nav .title {
    overflow: hidden;
    float: left;
    width: 90%;
    text-align: left;
    color: #fff;
  }
  .header .nav .title a {
    float: right;
  }
  .header .nav .btn {
    display: block;
  }
  .header .nav .menu {
    display: none;
    position: absolute;
    top: 55px;
    left: 0;
    text-align: left;
    z-index: 100;
    width: 100%;
    height: auto;
    background: #212121;
  }
  .header .nav .menu li {
    display: block;
    width: 100%;
    line-height: 40px;
    font-size: 14px;
  }
  .banner {
    display: none;
    padding-top: 50px;
  }
  .main ul {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) and (min-width: 320px) {
  .main ul li {
    padding-top: 40px;
    margin-top: 0;
  }
  .line {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .li2 {
    float: right;
  }
}
@media only screen and (max-width: 1024px) {
  .li1 {
    border: 1px solid #e2e2e2;
    width: 49%;
    height: 725px;
    float: left;
    border-radius: 1%;
    margin-top: 14px;
  }
  .main ul li .li1 .right .btnlsit {
    text-align: center;
  }
  .main ul li .li1 .right .btnlsit a {
    width: 180px;
    height: 40px;
    border-radius: 5px;
    color: #000;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    display: block;
    margin: 10px 5px;
    border: 1px solid #00b7f9;
  }
}
@media screen and (max-width: 1280px) and (min-width: 1025px) {
  .main ul li .right {
    width: 297px;
  }
}
