body,html{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
    background: url(../img/banner_whb.jpg) no-repeat;
    background-size: cover;
}
.container{
    width: 100%;
    height: 100%;
    background: url(../img/bird_whb.png) 50% 50% / cover no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
@media screen and (min-width:1200px){
    #slider{
        padding: 0px 160px;
    }
    #slider .controls a{
        position: absolute;
        top: calc(50% - 62px);
    }
    #slider .controls{
        /* display: none; */
    }
    #slider .controls a:nth-child(1){
        left: 0;
    }
    #slider .controls a:nth-child(2){
        right: 0;
    }
}
@media screen and (min-width:1600px){
    #module{
        padding: 0px 160px;
    }
    #module .first_list .list-des{
        margin-top: 70px;
        padding: 60px 60px 30px;
    }
    #module .first_list>a p{
        margin-top: 75px;
        margin-bottom: 65px;
    }
    .title span{
        margin-left: 75px;
        margin-right: 75px;
    }
    .dongtai h1{
        margin:75px auto 65px auto;
    }
}
#slider{
    margin-top: 20px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
#slider #slider_box ul li h3{
    text-align: center;
    color:#666;
}
#slider ul li a img{
    width: 100%;
}
#module{
    /* margin-top: 30px; */
    padding-top: 30px;
    background-color: #000;
}
#module h1,#module,h3{
    text-align: center;
    color: #fff;
}
#module .first_list .list-des{
    height: 574px;
    background-color: #fff;
    border-radius: 10px;
}
#module .first_list .list-des h4{
    margin-top: 20px;
}
#module .first_list .list-des>p{
    margin-top: 40px;
    color:rgb(116,116, 116);
    font-size: 15px;
    font-family: 'microsoft yahei';
    text-align: left;
    line-height: 28px;
    margin-bottom: 40px;
}
#module .first_list .list-des a p{
    height: 40px;
    line-height: 40px;
    border: 1px solid rgb(46,158,222);
    color: rgb(46,158,222);
    text-align: center;
    border-radius: 5px;
    margin-top: 30px;
}
#module .first_list>a p,.desb p{
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: url(../img/duihuakuang_whb.png) center center no-repeat;
    border-radius: 5px;
}
body a:hover{
    text-decoration: none;
}
.slider_img img{
    width: 100%;
}
.title span{
    padding-bottom: 13px;
    border-bottom: 1px solid #000;
    font-size: 18px;
    font-family: 'microsoft yahei';
}
.dongtai{
    margin-top: 50px;
    margin-bottom: 50px;
}
.dongtai h1{
    text-align: center;
    font-family: 'microsoft yahei';
}
.dongtai>div p{
    line-height: 32px;
    color:#747474;
    margin:0px 75px;
    margin-top: 20px;
    font-family: 'microsoft yahei';
}
.media{
    margin:0px 75px;
}
.media li{
    line-height: 32px;
}
.media li a{
    color: #747474;
    text-decoration: underline;
}
footer{
    text-align: center;
    width: 100%;
    background-color: #000;
    padding-bottom: 30px;
}
footer ul li{
    display: inline-block;
}
footer .m2 li{
    margin:62px 30px 40px;
    width: 120px;
}
footer .m2 li img{
    width: 100%;
}
footer ul li p{
    color: aliceblue;
    font-size: 12px;
    margin-top: 10px;
}
footer ul:nth-child(2) li{
    border-right: 1px solid #b6b6b6;
}
footer ul:nth-child(2) li:last-child{
    border-right: none;
}
footer ul:nth-child(2) li a{
    color:#b6b6b6;
    padding: 0 16px;
    font-size: 12px;
}
footer>p{
    color:#6c6c6c;
    font-size: 12px;
}
footer>p a{
    font-size: 12px;
    color: #b6b6b6;
}
@media screen and (min-width: 319px){
    .dongtai>div p,.media,.title span{
        margin-left: 15px;
        margin-right: 15px;
    }
    
}
@media screen and (max-width: 1024px){
    footer .m2 li{
        margin:30px 10px 10px;
        width:15%;
    }

}