/*导航star*/
/**{*/
/*list-style: none;*/
/*}*/
/*.nav{*/
/*height: 58px;*/
/*background: #1a1a1a;*/
/*}*/
/*.container{*/
/*margin: 0 auto;*/
/*}*/
/*.container ul li{*/

/*color: #ffffff;*/

/*}*/
/*导航end*/

/*大图部分 star*/

.shi_lb {
    overflow: hidden;
    height: 475px;
    background: linear-gradient(to right top, rgb(122, 209, 201) 50%, rgb(37, 129, 196));
    box-sizing: border-box;
    position: relative;
}

.shi_lb .container {
    padding: 0 4%;
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
}
.can_b{
    float: left;
    width: 55%;
    text-align: left;
    color: #fff;
    position: absolute;
    top: 20%;
}
.can_b p{
    width: 20%;
}
.shi_lb .img1 {
    vertical-align: middle;
    width: 255px;
}

.shi_lb .img2 {
    vertical-align: middle;
    width: 44px;
}

.shi_lb .img3 {
    vertical-align: middle;
    width: 87px;
}
.shi_lb p{
    font-size: 40px;
     font-size: 22px;
    line-height: 36px;
    margin-bottom: 35px;
    margin-bottom: 80px;
    margin-top: 20px;
}
.anniu a{
    color: rgb(132,204,193);
    border-radius: 4px;
    display: inline-block;
    width: 200px;
    height: 45px;
    line-height: 45px;
    background: #fff;
    text-align: center;
    font-size: 22px;
    margin-left: -15px;
}
.anniu a:hover{
    color: rgb(132,204,193);
    text-decoration: none;
}
.can_bg{
    float: right;
    width: 45%;
    text-align: right;
}
.can_bg img{
    width: 100%;
}

.can_b2{
    padding: 4% 2%;
    background-color: rgb(247,247,247);
    overflow: hidden;
}
.contain{
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
}
