/*左边的图star*/
.show-img1 {
    /*height: 100%;*/
    background: linear-gradient(to right top, rgb(122, 209, 201) 50%, rgb(37, 129, 196));
    overflow: hidden;
    position: relative;
}

.show-img1 .contain {
    padding: 0 4%;
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
}

.show-img1 .contain .img-max {
    width: 55%;
    text-align: left;
    color: #fff;
    position: absolute;
    top: 20%;
}

.show-img1 .contain .img-max .img-1 {
    vertical-align: middle;
    width: 255px;
}

.show-img1 .contain .img-max .img-2 {
    width: 44px;
    vertical-align: middle;
}

.show-img1 .contain .img-max .img-3 {
    width: 87px;
    vertical-align: middle;
}

.show-img1 .contain .img-max p {
    font-size: 40px;
    /* font-size: 22px; */
    line-height: 36px;
    margin-bottom: 35px;
    margin-bottom: 80px;
    margin-top: 20px;
    color: #ffffff;
}

.img-max a {
    color: rgb(132, 204, 193);
    border-radius: 4px;
    display: inline-block;
    width: 200px;
    height: 45px;
    line-height: 45px;
    background: #fff;
    text-align: center;
    font-size: 22px;
    margin-left: -15px;
    text-decoration: none;
}

.img-max a:hover {
    color: rgb(132, 204, 193);
    text-decoration: none;
}

/*左边的图end*/
/*右边背景图star*/
.img-bg {
    float: right;
    width: 45%;
    padding: 10% 0;
    text-align: right;
}

.img-bg img {
    width: 100%;
}

/*右边背景图end*/

/* NO2*/

.show-img2 {
    padding: 4% 2%;
    background-color: rgb(247, 247, 247);
    overflow: hidden;
}

.show-img2 .contain {
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
}

.show-img2 .rg-txt {
    /*float: right;*/
    width: 60%;
    text-align: left;
}

.show-img2 .rg-txt ul {
    max-width: 450px;
    /*float: right;*/
}

.show-img2 .rg-txt ul .title-l {
    font-size: 22px;
    margin-top: 65px;
    margin-bottom: 30px;
}

.show-img2 .rg-txt ul li {
    margin-bottom: 15px;
}

.show-img2 .t_bg {
    position: relative;
    width: 40%;
    text-align: left;
    /*float: left;*/
}

.show-img2 .t_bg .img-1 {
    width: 100%;
}

.show-img2 .t_bg .img-2 {

    position: absolute;
    width: 20%;
    top: 24%;
    /* right: 27%; */
    left: 14%;
}

.show-img2 .t_bg .img-3 {
    position: absolute;
    width: 20%;
    bottom: 0%;
    left: 38%;
}

/*NO.3*/
.show-img3 {
    overflow: hidden;
    background: #fff;
    padding: 4% 2%;
}

.show-img3 .contain {
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
}

.show-img3 .contain .sdk {
    width: 60%;
    text-align: left;
}

.show-img3 .contain .title-t {
    font-size: 22px;
    margin-top: 65px;
    margin-bottom: 30px;
}

.show-img3 .contain .title-t ul {
    max-width: 450px;
}

.show-img3 .contain .sdk-bg {
    position: relative;
    text-align: right;
    width: 40%;
}

.show-img3 .contain .sdk-bg {
    position: relative;
    text-align: right;
    width: 40%;
}
.show-img3 .contain .sdk-bg .img-1{
    width: 100%;
}

.show-img3 .contain .sdk-bg .img-2{
    position: absolute;
    width: 16%;
    top: 26%;
    right: 42%;
}

/*NO.4*/
.show-img4{
    background-color: rgb(247,247,247);
    overflow: hidden;
    padding: 4% 2%;
}
.show-img4 .contain{
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
}
.show-img4 .contain .text{
    text-align: left;
    float: right;
}
.show-img4 .contain .text .title-t{
    font-size: 22px;
    margin-top: 65px;
    margin-bottom: 30px;
}
.show-img4 .contain ul{
    max-width: 450px;
    list-style:disc inside ;
}
.show-img4 .contain ul li{
    line-height: 30px;
    position: relative
}
.show-img4 .contain img{
    float: left;
    width: 40%;
}

