* {
  font-family: 'Microsoft Yahei';
}

.w {
  width: 1300px;
  margin: 0 auto;
}

header {
  background-color: #000;
  height: 60px;
}

header nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 250px;
}

header nav ul {
  height: 100%;
  display: flex;
}

header nav ul li {
  height: 100%;
  margin: 0 12px;
  white-space: nowrap;
  line-height: 60px;
  position: relative;
}

header nav ul li ol {
  position: absolute;
  width: 836px;
  display: none;
  border-top: 1px solid #1dafec;
  z-index: 10;
  top: 60px;
  left: -15px;
  background-color: #000;
}

header nav ul li ol li {
  width: 180px;
  height: 62px;
  display: inline-block;
}

header nav ul li ol li a {
  width: 208px;
  height: 62px;
  color: #959595;
  cursor: pointer;
  text-align: left;
  display: flex;
  align-items: center;
}

header nav ul li ol li a img {
  width: 35px;
  height: 35px;
  margin: 0 10px;
}

header nav ul li ol li a span {
  color: #959595;
  font-size: 13px;
}

header nav ul li ol li a:hover span {
  color: #fff;
}

header nav ul li:hover ol {
  display: block;
}

header nav a {
  color: #fff;
  font-size: 15px;
}

header nav a:hover {
  color: #1dafec;
}

header nav div {
  position: relative;
  margin-right: 85px;
}

header nav div span {
  color: #fff;
  font-size: 16px;
}

header nav div div {
  margin: 0;
  width: 80px;
  padding: 12px;
  height: 110px;
  position: absolute;
  right: -100px;
  top: -18px;
  padding-top: 22px;
  background-color: #222;
}

section#warp {
  width: 100%;
  height: 500px;
  display: table;
  background: url("https://www.egret.com/themes_cn/simplebootx/Public/images/playable/banner_bg.png") no-repeat;
  background-size: cover;
}

section#warp div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

section#warp div h2 {
  color: #fff;
  font-size: 75px;
  text-shadow: 0px 7px 21px rgba(4, 0, 0, 0.3);
  margin-bottom: 25px;
}

section#warp div h3 {
  color: #fff;
  font-size: 36px;
  font-weight: 100;
  margin-bottom: 50px;
}

section#warp div p a {
  width: 286px;
  height: 62px;
  color: #fff;
  margin: 0 70px;
  font-size: 24px;
  line-height: 62px;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  border: 1px solid #fff;
}

section#warp div p a:hover {
  color: #000;
  background-color: #fff;
}

section#ad {
  width: 100%;
  height: 500px;
}

section#ad a {
  width: 100%;
  height: 100%;
  display: block;
  background: url("https://www.egret.com/themes_cn/simplebootx/Public/images/playable/1.png") no-repeat;
  background-size: cover;
}

section#youshi {
  width: 100%;
  height: 500px;
  border-top: 1px solid #000;
  background: url("https://www.egret.com/themes_cn/simplebootx/Public/images/playable/advantage_bg.png") no-repeat;
  background-size: cover;
}

section#youshi h2 {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin: 50px 0 40px;
}

section#youshi ul {
  display: flex;
}

section#youshi ul li {
  flex: 1;
  text-align: center;
}

section#youshi ul li i {
  display: block;
  width: 150px;
  height: 150px;
  margin: 25px auto;
}

section#youshi ul li h3 {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

section#youshi ul li h3::after {
  content: '';
  display: block;
  width: 38px;
  height: 1px;
  margin: 10px auto;
  background-color: #fff;
}

section#youshi ul li p {
  color: #fff;
  font-size: 14px;
  line-height: 35px;
}

section#youshi ul li:nth-child(1) i {
  background: url("https://www.egret.com/themes_cn/simplebootx/Public/images/playable/technology.png") no-repeat;
  background-size: contain;
}

section#youshi ul li:nth-child(1) i:hover {
  background: url("https://www.egret.com/themes_cn/simplebootx/Public/images/playable/technology_h.png") no-repeat;
  background-size: contain;
}

section#youshi ul li:nth-child(2) i {
  background: url("https://www.egret.com/themes_cn/simplebootx/Public/images/playable/talents.png") no-repeat;
  background-size: contain;
}

section#youshi ul li:nth-child(2) i:hover {
  background: url("https://www.egret.com/themes_cn/simplebootx/Public/images/playable/talents_h.png") no-repeat;
  background-size: contain;
}

section#youshi ul li:nth-child(3) i {
  background: url("https://www.egret.com/themes_cn/simplebootx/Public/images/playable/grade.png") no-repeat;
  background-size: contain;
}

section#youshi ul li:nth-child(3) i:hover {
  background: url("https://www.egret.com/themes_cn/simplebootx/Public/images/playable/grade_h.png") no-repeat;
  background-size: contain;
}

section#ads {
  height: 480px;
  width: 100%;
  padding: 80px 0;
  background-color: #f7f7f7;
}

section#ads div h1 {
  font-size: 34px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 70px;
  padding-left: 100px;
}

section#ads div ul {
  display: flex;
  align-items: center;
}

section#ads div ul li {
  flex: 1;
}

section#ads div ul li p {
  color: #333;
  font-size: 24px;
  line-height: 50px;
}

section#ads div ul li i {
  display: block;
  margin: 0 auto;
  height: 230px;
  width: 230px;
}

section#ads div ul li:nth-child(2) i {
  background: url("https://www.egret.com/themes_cn/simplebootx/Public/images/playable/zyxz.png") no-repeat;
  background-size: contain;
}

section#ads div ul li:nth-child(2) i:hover {
  background: url("https://www.egret.com/themes_cn/simplebootx/Public/images/playable/zyxz_h.png") no-repeat;
  background-size: contain;
}

section#ads div ul li:nth-child(3) i {
  background: url("https://www.egret.com/themes_cn/simplebootx/Public/images/playable/kszz.png") no-repeat;
  background-size: contain;
}

section#ads div ul li:nth-child(3) i:hover {
  background: url("https://www.egret.com/themes_cn/simplebootx/Public/images/playable/kszz_h.png") no-repeat;
  background-size: contain;
}

section#ads div ul li:nth-child(4) i {
  background: url("https://www.egret.com/themes_cn/simplebootx/Public/images/playable/cbkz.png") no-repeat;
  background-size: contain;
}

section#ads div ul li:nth-child(4) i:hover {
  background: url("https://www.egret.com/themes_cn/simplebootx/Public/images/playable/cbkz_h.png") no-repeat;
  background-size: contain;
}

section#carousel {
  padding: 80px 0;
}

section#carousel h2 {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 60px;
}

section#carousel ul {
  display: flex;
}

section#carousel ul li {
  flex: 1;
  text-align: center;
}

section#carousel ul li img {
  display: block;
  height: 190px;
  margin: 0 auto;
}

section#carousel ul li img:nth-child(2) {
  display: none;
}

section#carousel ul li p {
  font-size: 24px;
  color: #666;
  line-height: 80px;
}

section#carousel ul li:hover img:nth-child(1) {
  display: none;
}

section#carousel ul li:hover img:nth-child(2) {
  display: block;
}

footer {
  padding: 80px 0 30px;
  background-color: #000;
}

footer ul {
  text-align: center;
}

footer ul li {
  display: inline-block;
  margin: 62px 30px 40px;
  color: #b6b6b6;
  width: 119px;
}

footer ul li img {
  width: 95px;
}

footer ul li p {
  color: #666;
  line-height: 30px;
}

footer p {
  text-align: center;
  line-height: 28px;
  color: #666;
}

footer p a {
  color: #b6b6b6;
}

footer p a:hover {
  color: #23527c;
  text-decoration: underline;
}

footer p.lianjie {
  margin: 15px 0;
}

footer p.lianjie a {
  padding: 0 16px;
  border-right: 1px solid #bbb;
}

footer p.lianjie a:last-child {
  border-right: 0;
}
